{% extends "menu.html" %}
{% load static %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h1>Добро пожаловать в приложение {{ settings.APP_NAME }}. Вы вошли как {{ request.user }}</h1>
    {% else %}
        <h2>Вы не зарегистрированы</h2>
    {% endif %}
    <p>
    На сайте вы можете посмотреть слова из словаря Мюллера, прослушать озвучку, увидеть перевод, фразы, грамматику и многое другое.
    </p>
<p>Также вы можете добавить любимые слова в ваш личный словарь, для этого выберите слово нажав на звёздочку</p>
<p>Если вы хотите перевести Фразы и даже несколько предложений, используйте переводчик Translator, который поддерживает 109 языков</p>
<p>При возникновении ошибок, отправьте по почте сообщения, дайте мне знать что можно было бы исправить</p>
<p>В словаре 526 876 слов и словосочетаний</p>
<p>Словарь весит 107 MB</p>
<a href="{% url 'words:contact' %}">Форма обратной связи</a> Или пишите на почту - artem.ismagilov.2000@mail.ru :)
<hr>
<p><i>,,Учитесь и читайте. Читайте книги серьезные. Жизнь сделает остальное.''   </i>Достоевский Ф. М.</p>
<div>
    <img src="{%  static 'home/imgs/background.jpg' %}" style="width: 80%;">

</div>
{% endblock content %}