body {
    background-color: #fdf5e6;
}
a {
    color: green;
}

div.column {
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
div.first_col {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
div.row {
    font-size: 15px;
}
div.row:hover {
    font-size: 25px;
    border-radius: 10px; 
    background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.3),
        rgba(91, 14, 214, 0.3) 100%);
}

img.word {
    width: 60%;
    margin: 10px;
}
